<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contact Us</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="brand"><span>Five Stars</span> Mowing</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3>Five Stars Mowing</h3>
        <ul>  
          <li><i class="fa fa-road"></i> 44 Something st</li>
          <li><i class="fa fa-phone"></i> (555) 555-5555</li>
          <li><i class="fa fa-envelope"></i> test@acme.test</li>
        </ul>
      </div>
      <div class="contact">
        <h3>Email Us</h3>
        <form method="POST" action="/quotes">
          <p>
            <label>Name</label>
            <input type="text" name="name">
          </p>
          <p>
            <label>Address</label>
            <input type="text" name="address">
          </p>
           <p>
            <label>Suburb</label>
            <input type="text" name="suburb">
          </p>
          <p>
            <label>Email Address</label>
            <input type="email" name="email">
          </p>
          <p>
            <label>Phone</label>
            <input type="text" name="phone">
          </p>
          <p>
           <label>Property Type</label>
            <select name="propertyType">
              <option value="residential">Residential</option>
              <option value="commercial">Commercial</option>
              <option value="acerage">Acerage</option>
            </select> 
          </p>
          <p>
            <label>Time of Inspection</label>
             <select name="timeOfInspection">
              <option value="7:00am">7:00am</option>
              <option value="7:30am">7:30am</option>
              <option value="8:00am">8:00am</option>
              <option value="8:30am">8:30am</option>
              <option value="9:00am">9:00am</option>
              <option value="9:30am">9:30am</option>
              <option value="10:00am">10:00am</option>
              <option value="10:30am">10:30am</option>
              <option value="11:00am">11:00am</option>
              <option value="11:30am">11:30am</option>
              <option value="12:00pm">12:00pm</option>
              <option value="12:30pm">10:30pm</option>
              <option value="1:00pm">1:00pm</option>
              <option value="1:30pm">1:30pm</option>
              <option value="2:00pm">2:00pm</option>
              <option value="2:30pm">2:30pm</option>
              <option value="3:00pm">3:00pm</option>
              <option value="3:30pm">3:30pm</option>
              <option value="4:00pm">4:00pm</option>
              <option value="4:30pm">4:30pm</option>
              <option value="5:00pm">5:00pm</option>
            </select>
          </p>
          <p class="full">
            <label>Message</label>
            <textarea name="message" rows="5"></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</body>
</html>